body{
    background-color: lightblue;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}

#container{
    background-color:lightcyan;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#header{
    background-color: lightskyblue;
    color: whitesmoke;
    text-align: center;
}
#content{
    padding: 10px;
    color: black;
}

#main{
    width: 600px;
    float: right;
}

#footer{
    clear: both;
    padding: 10px;
    background-color: #66ccff;
    color: white;
}